<div class="overall">
    <div class='center'>

        <form [formGroup]="profileForm">
            <div class="header">
                <h2>Sing Up</h2>
            </div>


            <div class="udername">
                <span class="p-float-label">
                    <input id="float-input" type="text" name="name" pInputText formControlName="name">
                    <label for="float-input">Username</label></span>
<!-- validation -->
                <div *ngIf="form['name']?.invalid && (form['name'].dirty || form['name'].touched)" class="alert">

                    <p *ngIf="form['name']?.errors?.['required']">
                        Name is required.
                    </p>

                </div>
            </div>


            <div class="email"><span class="p-float-label">
                    <input id="float-input" type="email" pInputText formControlName="email">
                    <label for="float-input">Email</label>
<!-- validation -->
                    <div *ngIf="form['email']?.invalid && (form['email'].dirty || form['email'].touched)" class="alert">

                        <p *ngIf="form['email']?.errors?.['required']">
                            Email is required.
                        </p>
                    </div>
                </span></div>

            <div class="password">
                <span class="p-float-label">
                    <input id="float-input" type="password" pInputText formControlName="password">
                    <label for="float-input">Password</label>
                </span>
     <!-- validation -->
                <div *ngIf="form['password']?.invalid && (form['password'].dirty || form['password'].touched)"
                    class="alert">

                    <p *ngIf="form['password']?.errors?.['required']">
                        Password is required.
                    </p>

                    <div *ngIf="form['password'].errors?.minlength">
                        <p>password must be minimum 8 characters long.</p>
                    </div>
                    <div *ngIf="form['password'].errors?.maxlength">
                        <p>Password must be maxmum 8 characters long.</p>
                    </div>
                </div>
            </div>

            
                <div>
                    <button pButton pRipple type="button" routerLink="/sign-up"
                    [disabled]="profileForm.invalid" (click)="adduser()" class="p-button-outlined p-button-rounded ">Singn Up</button>
                </div>
                <p>{{message}}</p>

        </form>
    </div>
</div>

