.overall{
    border: 1px solid black;
    border-radius: 10px;
    width: 350px;
    margin:auto;
    padding: 10px 1px;

    .alert{
        color: red;
    }
.center {
    display: flex;
    justify-content: center;
    .header{
       h2{
       margin-top:0;
       text-align: center;
       }
    } 
    .username{
        padding-top:40px;
    }
    .email{
        padding-top:40px;
    }
        .password{
            padding-top:40px;
        }
        //butons wayper
        .p-button{
            margin: 10px;
            float:right;
        }
            .p-button:hover {
                color:white;
                background-color: #0cf00c;
            }
        }
    }
