<div class="overall">
    <div class='center'>

        <form [formGroup]="profileForm">
            <div class="header">
                <h2>Forget Password</h2>
            </div>

           
            <div class="email">
                <span class="p-float-label">
                    <input id="float-input" type="email" pInputText formControlName="email">
                    <label for="float-input">Email</label>

                    <div *ngIf="form['email']?.invalid && (form['email'].dirty || form['email'].touched)" class="alert">

                        <p *ngIf="form['email']?.errors?.['required']">
                            Email is required.
                        </p>
                    </div>
                </span>
            </div>

            <div class="password">
                <span class="p-float-label">
                    <input id="float-input" type="password" pInputText formControlName="password">
                    <label for="float-input">Password</label>
                </span>
                <div *ngIf="form['password']?.invalid && (form['password'].dirty || form['password'].touched)"
                    class="alert">

                    <p *ngIf="form['password']?.errors?.['required']">
                        Password is required.
                    </p>
                    <div *ngIf="form['password'].errors?.minlength">
                        <p>password must be minimum 8 characters long.</p>
                    </div>
                   
                </div>
            </div>
           <br>
            
                <div>
                    <button pButton pRipple (click)="forgetpassword()" type="button" class="p-button-outlined p-button-rounded "
                        [disabled]="profileForm.invalid">Singn In</button>
                        <p>{{message}}</p>
                        <p-toast position="top-right"></p-toast> 
            
            </div>
