
.twowaybinding{
    width: 100%;
    background-color: rgb(188, 254, 254);

}
.directives{
    width: 100%;
    background-color: rgb(188, 254, 254);

}
.userlist{
    width: 100%;
    background-color: rgb(188, 254, 254);


}