
.twowaybinding{
    width: 100%;
    background-color: rgb(188, 254, 254);

}
.directives{
    width: 100%;
    background-color: rgb(188, 254, 254);

}
.userlist{
    width: 100%;
    background-color: rgb(188, 254, 254);
}

.input{
    background-color: rgb(161, 228, 225);
    height: 200px;
}

.datastore{
    background-color: rgb(243, 243, 173);
    height: 300px;
  
}