<div class="waper">

<div class="container">
    <div class="free">
        <h4>Free</h4>
    </div><br>

    <div class="value">
        <h1>$0 <small>/ mo</small> </h1>
        <ul>
            <li>10 users included</li>
            <li>2 GB of storage</li>
            <li>Email support</li>
            <li>Help center access</li>
        </ul>
        <a href="#">Sign up free</a> 
    </div>
</div>


<div class="container">
    <div class="free">
        <h4>Pro</h4>
    </div><br>

    <div class="value">
        <h1>$15  <small>/ mo</small> </h1>
        <ul>
            <li>20 users included</li>
            <li>10 GB of storage</li>
            <li>Priority email support</li>
            <li>Help center access</li>
        </ul>
        <a href="#" class="Pro">Sign up free</a> 
    </div>
</div>


<div class="container">
    <div class="free">
        <h4>Enterprise</h4>
    </div><br>

    <div class="value">
        <h1>$29 <small>/ mo</small> </h1>
        <ul>
            <li>30 users included</li>
            <li>15 GB of storage</li>
            <li>Phone and email support</li>
            <li>Help center access</li>
        </ul>
        <a href="#" class="Enterprise">Sign up free</a> 
    </div>
</div>

</div>