<div class='container mt-5'>

    <!-- <form action="#" > -->
        <div>
            <input type="text" [(ngModel)]="username" placeholder="Name" >
        </div>
        <div>
            <input type="text" [(ngModel)]="userage" placeholder="Age" >
        </div>
        <div>
            <input type="text" [(ngModel)]="userjob" placeholder="Job" >
        </div>
        <div>
         <!-- <button *ngIf="isUpdate" (click)="updateUser()" class="btn btn-primary">update User</button> -->
            <button type="button" (click)="adduser()" class="btn btn-primary">Submit</button>
        </div>

    <!-- </form> -->
</div>

