<div>
<form action="#">
   <ul>
    <li><span class="p-float-label">
         <input id="float-input-invalid" type="text" pInputText  class="ng-invalid ng-dirty">  <!--[(ngModel)]="value6" -->
        <label for="float-input-invalid">Username</label>
    </span></li>
    <li><span class="p-float-label">
        <input id="float-input-invalid" type="text" pInputText  class="ng-invalid ng-dirty">  <!--[(ngModel)]="value6" -->
        <label for="float-input-invalid">Username</label>
    </span></li>


   </ul>
</form>
</div>