<div class="footerwaper">

    <div>
        <p>icon</p>
        <p><small>© 2017-2018</small> </p>
    </div>

    <div class="footercont">
        <ul>
            <li>Features</li>
            <li><a href="#">Cool stuff</a></li>
            <li><a href="#">Random feature</a></li>
            <li><a href="#">Team feature</a></li>
            <li><a href="#">Stuff for developers</a></li>
            <li><a href="#">Another one</a></li>
            <li><a href="#">Last time</a></li>
        </ul>
    </div>

    <div class="footercont">
        <ul>
            <li>Resources</li>
            <li><a href="#">Resource</a></li>
            <li><a href="#">Resource name</a></li>
            <li><a href="#">Another resource</a></li>
            <li><a href="#">Final resource</a></li>
        </ul>
    </div>

    <div class="footercont">
        <ul>
            <li>About</li>
            <li><a href="#">Resource</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Locations</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
        </ul>
    </div>


</div>