.navbar{
    background-color:transparent;
    width: 100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}
.body{
    background-color: white;
    width: 100%;
    height: 200px;
    .operation{
        background-color: rgb(216, 180, 135);
        width: 100%;
        height: 100px;
    }
}
.footer{
    background-color: bisque;
    width: 100%;
    height: 50px;
    margin-top: 400px;
}
