.navbar{
    background-color: bisque;
    width: 100%;
    height: 50px;
}
.body{
    background-color: rgb(156, 216, 135);
    width: 100%;
    height: 200px;
    .operation{
        background-color: rgb(216, 180, 135);
        width: 100%;
        height: 100px;
    }
}
.footer{
    background-color: bisque;
    width: 100%;
    height: 50px;
}
