.datastore{
 background-color: rgb(251, 251, 100);
 height:20px;
li{
    list-style:none;
}
.isActive{
  color: rgb(17, 19, 20);
}
.inActive{
    color: rgb(143, 30, 39);
    text-decoration: line-through;
}
}