.waper {
    display: flex;
    
            align-items: center;

    .headers {
        padding-left: 100px;
    }

    .navlist {
        ul {
            display: flex;
            align-items: center;

            li {
                list-style-type: none;
                padding-left: 50px;

                a {
                    text-decoration: none;
                    color: black;
                    margin-top: 50px;
                }

                a:hover {
                    text-decoration: underline;

                }

            }
        }

        .feature {
            margin-left: 300px;
        }

        .p-inputtext {
            border-radius: 30px;
            height: 40px;
        }

        .p-button {
            height: 40px;
        }
    }
}